*{
    padding:0;
    margin:0;
}
h1{
    text-align:center;
    background-color:#3b5f41; 
    position:sticky;
    color:rgb(204, 184, 184)
}

#choices{
    height:350px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4rem;

}
.choi{
    text-align:center;
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
}
.choi:hover {
    transform: scale(1.1);
}

img{
    height: 200px;
    width: 200px;
    border-radius:50rem; 
    
}
img:hover {
    border:6px solid rgb(0, 0, 0);
    cursor:pointer;
    
}
.gme-score{
    height:60px;
    font-size: 26px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:8rem;
    margin:1.9rem;
}
.user,#users{
    text-align:center;
    color:rgb(0, 150, 20);
    padding:4px;
}

.bot,#bots{
    text-align:center;
    color:red;
    padding:4px;
}  
#play {

    background-color: rgb(50, 139, 109);
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: -0.8px 2px 2px rgb(30, 30, 36)


}
.pcontainer{
    display: flex;
    justify-content: center;
}
body{
   
    background-color: rgb(173, 190, 156);
}

